<div class="row">
    <div class="col-12">
        <h1 class="section-label">&nbsp;</h1>
        <h1 class="border-bottom-grey">Check your answers</h1>
    </div>
</div>

<p class="lede">Make sure all of the details are correct</p>
    <div class="boxed">
        <div class="row">
            <div class="col-2"><span class="boxed-header">Request type:</span></div>
            <div class="col-8">
                <span class="list-data" name="requesttype" id="requesttype"></span>
            </div>
            <div class="col-2">
                <a href="request-type?change=true" class="boxed-content">Change</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="list">
                <div class="list-title-row">
                    <div class="list-title">Project info</div>
                    <div class="list-change"><a href="project-info?change=true" class="projectinfo">Change</a></div>
                </div>
                <div class="list-row">
                    <div class="list-property">Project name</div>
                    <div class="list-data" name="projectname" id="projectname"></div>
                </div>
                <div class="list-row">
                    <div class="list-property">Project phase</div>
                    <div class="list-data" name="projectphase" id="projectphase"></div>
                </div>
                {{!-- <div class="list-row">
                    <div class="list-property">Next milestone</div>
                    <div class="list-data" name="nextmilestone" id="nextmilestone"></div>
                </div> --}}
                {{!-- <span id="next-milestone-2-container">
                    <div class="list-row">
                        <div class="list-property">Has user testing been booked</div>
                        <div class="list-data" name="nextmilestone2" id="nextmilestone2"></div>
                    </div>
                </span>
                <span id="testing-date-container">
                    <div class="list-row">
                        <div class="list-property">Next user testing date</div>
                        <div class="list-data" name="testingdate" id="testingdate"></div>
                    </div>
                </span>
                <div class="list-row">
                    <div class="list-property">Resource duration</div>
                    <div class="list-data" name="resourceduration" id="resourceduration"></div>
                </div> --}}
                <span id="meeting-planned-container">
                    <div class="list-row">
                        <div class="list-property">Has a meeting been planned</div>
                        <div class="list-data" name="meetingplanned" id="meetingplanned"></div>
                    </div>
                </span>
                <span id="meeting-date-container">
                    <div class="list-row">
                        <div class="list-property">Meeting date</div>
                        <div class="list-data" name="meetingdaname" id="meetingdate"></div>
                    </div>
                </span>
                <span id="meeting-location-container">
                    <div class="list-row">
                        <div class="list-property">Meeting location</div>
                        <div class="list-data" name="meetinglocation" id="meetinglocation"></div>
                    </div>
                </span>
                <div class="list-row">
                    <div class="list-property">Brief overview</div>
                    <div class="list-data" name="overview" id="overview"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="list">
                <div class="list-title-row">
                    <div class="list-title">Your details</div>
                    <div class="list-change"><a href="your-details?change=true" class="yourdetails">Change</a></div>
                </div>
                <div class="list-row">
                    <div class="list-property">Full name</div>
                    <div class="list-data" name="name" id="name"></div>
                </div>
                <div class="list-row">
                    <div class="list-property">Role within team</div>
                    <div class="list-data" name="role" id="role"></div>
                </div>
                <div class="list-row">
                    <div class="list-property">E-mail</div>
                    <div class="list-data" name="email" id="email"></div>
                </div>
                <div class="list-row">
                    <div class="list-property">Extension</div>
                    <div class="list-data" name="phone" id="phone"></div>
                </div>
            </div>
        </div>
    </div>

<form method="POST" action="success">
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Send request</button>
        </div>
    </div>

    <span class="hide">
        <input class="list-data" name="requesttype" id="requesttype">
        <input class="list-data" name="name" id="name">
        <input class="list-data" name="role" id="role">
        <input class="list-data" name="email" id="email">
        <input class="list-data" name="phone" id="phone">
        <input class="list-data" name="projectname" id="projectname">
        <input class="list-data" name="projectphase" id="projectphase">
        {{!-- <input class="list-data" name="nextmilestone" id="nextmilestone">
        <input class="list-data" name="nextmilestone2" id="nextmilestone2">
        <input class="list-data" name="testingdate" id="testingdate">
        <input class="list-data" name="resourceduration" id="resourceduration"> --}}
        <input class="list-data" name="meetingplanned" id="meetingplanned">
        <input class="list-data" name="meetingdate" id="meetingdate">
        <input class="list-data" name="meetinglocation" id="meetinglocation">
        <input class="list-data" name="overview" id="overview">
        <input class="list-data" name="reference" id="reference">
    </span>
</form>






<script>
    $('button').click(next);

    /*if (member.questions.nextMilestone === 'User insight') {
        $('#next-milestone-2-container').show();
    } else {
        $('#next-milestone-2-container').hide();
    }
    if (member.questions.testDay) {
        $('#testing-date-container').show();
    } else {
        $('#testing-date-container').hide();
    } */
    if (member.questions.meetingPlanned === 'No') {
        $('#meeting-planned-container').show();
    } else {
        $('#meeting-planned-container').hide();
    }
    if (member.questions.meetDay) {
        $('#meeting-date-container').show();
    } else {
        $('#meeting-date-container').hide();
    }
    if (member.questions.meetingLocation) {
        $('#meeting-location-container').show();
    } else {
        $('#meeting-location-container').hide();
    }

    if (member.questions.requestType) {
        var requestType = "";
        for (var i = 0; i < member.questions.requestType.length; ++i) {
            if (i === member.questions.requestType.length - 2) {
                requestType += member.questions.requestType[i] + ' and ';
            } else if (i === member.questions.requestType.length - 1) {
                requestType += member.questions.requestType[i];
            } else {
                requestType += member.questions.requestType[i] + ", ";
            }
        }
        $('#requesttype').html(requestType);
    } else {
        $('#requesttype').html(member.questions.otherRequestText);
    }


    
    $('#name').html(member.questions.name);
    $('#role').html(member.questions.role);
    $('#email').html(member.questions.email);
    $('#phone').html(member.questions.phone);
    $('#projectname').html(member.questions.projectName);
    $('#projectphase').html(member.questions.projectPhase);
  //$('#nextmilestone').html(member.questions.nextMilestone);
  //$('#nextmilestone2').html(member.questions.nextMilestone2);
  //$('#testingdate').html(member.questions.testDay + ' ' + member.questions.testMonth + ' ' + member.questions.testYear);
  //$('#resourceduration').html(member.questions.resourceDuration);
    $('#meetingplanned').html(member.questions.meetingPlanned);
    $('#meetingdate').html(member.questions.meetDay + ' ' + member.questions.meetMonth + ' ' + member.questions.meetYear);
    $('#meetinglocation').html(member.questions.meetingLocation);
    $('#overview').html(member.questions.overview);

    $('input#requesttype').val(requestType);
    $('input#name').val(member.questions.name);
    $('input#role').val(member.questions.role);
    $('input#email').val(member.questions.email);
    $('input#phone').val(member.questions.phone);
    $('input#projectname').val(member.questions.projectName);
    $('input#projectphase').val(member.questions.projectPhase);
  //$('input#nextmilestone').val(member.questions.nextMilestone);
  //$('input#nextmilestone2').val(member.questions.nextMilestone2);
  //$('input#testingdate').val(member.questions.testDay + ' ' + member.questions.testMonth + ' ' + member.questions.testYear);
  //$('input#resourceduration').val(member.questions.resourceDuration);
    $('input#meetingplanned').val(member.questions.meetingPlanned);
    $('input#meetingdate').val(member.questions.meetDay + ' ' + member.questions.meetMonth + ' ' + member.questions.meetYear);
    $('input#meetinglocation').val(member.questions.meetingLocation);
    $('input#overview').val(member.questions.overview);
    

    member.reference = Math.random().toString(36).substring(2, 7) + Math.random().toString(36).substring(2, 7);

    $('input#reference').val(member.reference);

    function next() {
        go('success');
    }
</script>