<div class="row">
    <div class="col-12">
        {{!-- <h1 class="section-label">Interaction design work request</h1> --}}
        {{!-- <h1 class="border-bottom-grey">Check your answers</h1> --}}
    </div>
</div>

<div class="row">
    <div class="col-8">
        <h1 class="margin-top-2">Interaction design work request</h1>

        <p class="lede">The Interaction design team cover these requests:</p>

        <ul class="list-bulleted text-large">
            <li>digital services hosted on GOV.UK</li>
            <li>help with accessibility auditing</li>
            <li>continuous improvement</li>
            <li>assessment preparation</li>
            <li>internal DVLA service</li>
            <li>mission patches</li>
        </ul>

        <div class="row">
            <div class="col-12">
                <p class="text-large">Making a request takes around 5 minutes.</p>

                <button class="btn-lrg btn-primary">Start now</button>
            </div>
        </div>
    </div>

    <div class="col-4">
        <aside class="bar margin-top-2">
            <div class="aside-title">Do you need Creative Services?</div>

            <p>Creative Services provide:</p>

            <ul>
                <li>newsletters</li>
                <li>print work</li>
                <li>posters</li>
            </ul>

            <p>Your request will take around 5 minutes.</p>

            <div class="aside-action">
                <a href="#">Creative Services work request form</a>
                <div class="aside-title margin-top-2">Before you start</div>
                <p class="margin-top-1">Check you're using the correct service.</p>
            </div>
        </aside>
    </div>
</div>





<script>
    $('button').click(next);

    if (member.questions === undefined) {
        member.questions = {};
    }

    function next() {
        member.clear();
        go('/request-type');
    }
</script>