<div class="row">
    <div class="col-12"></div>
</div>

<div class="row">
    <div class="col-8">
        <h1 class="margin-top-2">Interaction design work request</h1>
        <br>

        <p>Before you start:</p>
        <ul class="list-bulleted">
            <li>check you're using the correct service</li>
            <li>if you already have design resource, don't complete another request,
                <br>contact David Hannify</li>
        </ul>
        <p>Making a request takes around 5 minutes.</p>

        <div class="row">
            <div class="col-12">
                <button class="btn-lrg btn-primary">Start now</button>
            </div>
        </div>
    </div>

    <div class="col-4">
        <aside class="bar margin-top-2">
            <div class="aside-title">Do you need Creative Services?</div>

            <p>Creative Services provide:</p>

            <ul>
                <li>newsletters</li>
                <li>print work</li>
                <li>posters</li>
            </ul>

            <p>Your request will take around 5 minutes.</p>

            <div class="aside-action">
                <a href="#">Creative Services work request form</a>
                {{!-- <div class="aside-title margin-top-2">Before you start</div>
                <p class="margin-top-1">Check you're using the correct service.</p>
                <p class="margin-top-1">If you already have a design resource, you do not need to complete another request.</p> --}}
            </div>
        </aside>
    </div>
</div>





<script>
    $('button').click(next);

    if (member.questions === undefined) {
        member.questions = {};
    }

    function next() {
        member.clear();
        go('/request-type');
    }
</script>