<div class="row">
    <div class="col-8">
        <div class="error-summary hide">
            <div class="error-title">There was a problem</div>
            <div class="error-description">Please amend the following details:</div>

            <ul class="error-list">
                <li class="project-name hide"><a href="#project-name">Provide the project name</a></li>
                <li class="project-phase hide"><a href="#project-phase">Provide the phase of your project</a></li>

                <li class="next-milestone hide"><a href="#next-milestone">Provide the next milestone</a></li>
                <li class="next-milestone-2 hide"><a href="#next-milestone-2">Select a testing option</a></li>
                <li class="testing-date-empty hide"><a href="#next-milestone-2">Testing date is empty</a></li>
                <li class="testing-date-incomplete hide"><a href="#next-milestone-2">Testing date is incomplete</a></li>
                <li class="test-day hide"><a href="#test-day">Enter a valid day</a></li>
                <li class="test-month hide"><a href="#test-month">Enter a valid month</a></li>
                <li class="test-year hide"><a href="#test-year">Enter a valid year</a></li>

                <li class="resource-duration hide"><a href="#resource-duration">Provide a resource duration</a></li>

                <li class="meeting-planned hide"><a href="#meeting-planned">Select a meeting option</a></li>
                <li class="meeting-date-empty hide"><a href="#meeting-planned-2">Meeting date is empty</a></li>
                <li class="meeting-date-incomplete hide"><a href="#meeting-planned-2">Meeting date is incomplete</a></li>
                <li class="meet-day hide"><a href="#meet-day">Enter a valid day</a></li>
                <li class="meet-month hide"><a href="#meet-month">Enter a valid month</a></li>
                <li class="meet-year hide"><a href="#meet-year">Enter a valid year</a></li>

                <li class="meeting-location hide"><a href="#meeting-location">Provide a meeting location</a></li>

                <li class="requirements hide"><a href="#requirements">Provide what you require from us</a></li>
            </ul>
        </div>
        
        <a href="#" class="btn-back">Back</a>
        <h1 class="section-label">&nbsp;</h1>
        <h1 class="border-bottom-grey">Project information</h1>
    </div>
</div>


<div class="row">
    <div class="col-8">
        <div class="form-group b">
            <label for="project-name">
                <div class="label-title">What is the name of the project?</div>
                <div class="project-name label-error hide">Provide the project name</div>
                <input type="text" id="project-name" class="form-control" />
            </label>
        </div>





        <div class="form-group b" id="project-phase">
            <fieldset>
                <legend>
                    What phase is the project in?
                </legend>
                <div class="label-error project-phase hide">Provide the phase of your project</div>
                <div class="multiple-choice">
                    <input id="discovery" type="radio" name="project-phase" value="Discovery">
                    <label for="discovery">Discovery</label>
                </div>
                <div class="multiple-choice">
                    <input id="alpha" type="radio" name="project-phase" value="Alpha">
                    <label for="alpha">Alpha</label>
                </div>
                <div class="multiple-choice">
                    <input id="private-beta" type="radio" name="project-phase" value="Private Beta">
                    <label for="private-beta">Private Beta</label>
                </div>
                <div class="multiple-choice">
                    <input id="public-beta" type="radio" name="project-phase" value="Public Beta">
                    <label for="public-beta">Public Beta</label>
                </div>
                <div class="multiple-choice">
                    <input id="live" type="radio" name="project-phase" value="Live">
                    <label for="live">Live</label>
                </div>
            </fieldset>
        </div>





        <div class="form-group b" id="next-milestone">
            <fieldset>
                <legend>
                    What is the next milestone?
                </legend>
                <div class="label-error next-milestone hide">Provide the next milestone</div>
                <div class="multiple-choice">
                    <input id="putting-team-together" type="radio" name="next-milestone" value="Putting a team together">
                    <label for="putting-team-together">Putting a team together</label>
                </div>
                <div class="multiple-choice">
                    <input id="service-assessment" type="radio" name="next-milestone" value="Service assessment">
                    <label for="service-assessment">Service assessment</label>
                </div>
                <div class="multiple-choice">
                    <input id="showcase" type="radio" name="next-milestone" value="Showcase">
                    <label for="showcase">Showcase</label>
                </div>
                <div class="multiple-choice">
                    <input id="user-insight" type="radio" name="next-milestone" value="User insight">
                    <label for="user-insight">User insight</label>
                </div>
            </fieldset>
        </div>

        <span id="next-milestone-2" class="inset">
            <div class="form-group inline">
                <fieldset>
                    <legend>
                        Has user testing been booked?
                        <span class="legend-error next-milestone-2 hide">Select an option</span>
                    </legend>
                    <div class="multiple-choice">
                        <input id="booked-yes" type="radio" name="next-milestone-2" value="Yes">
                        <label for="booked-yes">Yes</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="booked-no" type="radio" name="next-milestone-2" value="No">
                        <label for="booked-no">No</label>
                    </div>
                </fieldset>
            </div>
            <form>
                <div class="form-group" id="testing-date-empty">
                    <fieldset>
                        <label for="testing-date">
                            <div class="label-title">What is the date of testing?</div>
                            <div class="label-hint">For example 6 2 2018</div>
                            <div class="label-error testing-date-empty hide">Provide a testing date</div>
                            <div class="label-error testing-date-incomplete hide">Testing date is incomplete</div>
                        </label>
                        <div class="row">
                            <div class="col-1 col-day">
                                <input type="text" id="test-day" name="day" name="testing-date" class="form-control" />
                            </div>
                            <div class="col-1 col-month">
                                <input type="text" id="test-month" name="month" name="testing-date" class="form-control" />
                            </div>
                            <div class="col-1 col-year">
                                <input type="text" id="test-year" name="year" name="testing-date" class="form-control" />
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
        </span>





        <div class="form-group b">
            <label for="resource-duration">
                <div class="label-title">How long do you need Interaction design resource for?</div>
                <div class="label-hint">For example, 6 months</div>
                <div class="label-error resource-duration hide">Provide resource duration</div>
                <input type="text" id="resource-duration" class="form-control form-control-1-2" />
            </label>
        </div>





        <form>
            <div class="form-group inline" id="meeting-planned">
                <fieldset>
                    <legend>
                        Do you have a meeting planned that you would like us to attend?
                        <span class="legend-error meeting-planned hide">Select an option</span>
                    </legend>

                    <div class="multiple-choice">
                        <input id="meeting-planned-yes" type="radio" name="meeting-planned" value="Yes">
                        <label for="meeting-planned-yes">Yes</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="meeting-planned-no" type="radio" name="meeting-planned" value="No">
                        <label for="meeting-planned-no">No</label>
                    </div>
                </fieldset>
            </div>
        </form>

        <span id="meeting-planned-2" class="inset">
            <form>
                <div class="form-group">
                    <fieldset>
                        <label for="meeting-date">
                            <div class="label-title">What is the date of the meeting?</div>
                            <div class="label-hint">For example 6 2 2018</div>
                            <div class="label-error meeting-date-empty hide">Enter a valid date</div>
                            <div class="label-error meeting-date-incomplete hide">Date is incomplete</div>
                        </label>
                        <div class="row">
                            <div class="col-1 col-day">
                                <input type="text" id="meet-day" name="day" name="meeting-date" class="form-control" />
                            </div>
                            <div class="col-1 col-month">
                                <input type="text" id="meet-month" name="month" name="meeting-date" class="form-control" />
                            </div>
                            <div class="col-1 col-year">
                                <input type="text" id="meet-year" name="year" name="meeting-date" class="form-control" />
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group">
                    <label for="meeting-location">
                        <div class="label-title">What is the meeting location</div>
                        <div class="label-hint">For example, D14, room 1</div>
                        <div class="label-error meeting-location hide">Provide a meeting location</div>
                    </label>
                    <input type="text" id="meeting-location" class="form-control form-control-1-2" />
                </div>
            </form>
        </span>





        <div class="form-group b">
            <label for="requirements">
                <div class="label-title">Requirements</div>
                <div class="label-hint">Describe what you require from us</div>
                <div class="label-error requirements hide">Provide what you require from us</div>
            </label>
            <textarea class="form-control" name="requirements" id="requirements" onkeyup="countChar(this)" rows="5" maxlength="200" autocomplete="off"></textarea>

            <span class="requirementslength error-message">Your description is <span id="requirementslength"></span> characters too long</span>
            <span id="charcountdown" class="margin-top-0-5" style="display:block">(<span id="countdown">100</span> characters remaining)</span>
        </div>





        <div class="row">
            <div class="col-12">
                <button class="btn-lrg btn-primary">Next</button>
            </div>
        </div>
    </div>
</div>





<script>
    if (member.questions === undefined) {
        member.questions = {};
    }

    $('h1').click(function() {
        $('#project-name').val('Vehicle enquiry service');
        $('input[name=project-phase][value="Alpha"]').prop('checked', true);

        $('input[name=next-milestone][value=Showcase]').prop('checked', true);
        $('input[name=next-milestone-2][value=No]').prop('checked', true);
        $('#test-day').val('8');
        $('#test-month').val('2');
        $('#test-year').val('2018');

        $('#resource-duration').val('1 week');

        $('input[name=meeting-planned][value=No]').prop('checked', true);
        // $('#meet-day').val('8');
        // $('#meet-month').val('2');
        // $('#meet-year').val('2018');
        // $('#meeting-location').val('D15, Room 1');

        $('textarea[id=requirements]').val('Mission patch for alpha');
    });

    // Showing/hiding progressive disclosure fields
    $('#next-milestone-2').hide();
    $('input[name=next-milestone]').change(function () {
        if ($(this).val() === 'User insight') {
            $('#next-milestone-2').show();
        } else {
            $('#next-milestone-2').hide();
        }
    });
    $('#testing-date-empty').hide();
    $('input[name=next-milestone-2]').change(function () {
        if ($(this).val() === 'Yes') {
            $('#testing-date-empty').show();
        } else {
            $('#testing-date-empty').hide();
        }
    });
    $('#meeting-planned-2').hide();
    $('input[name=meeting-planned]').change(function () {
        if ($(this).val() === 'Yes') {
            $('#meeting-planned-2').show();
        } else {
            $('#meeting-planned-2').hide();
        }
    });

    // Count the characters and handle errors on the text area
    function countChar() {
        var req = $('#requirements').val().length;
        $('#requirementslength').html(req - 100);
        $('#countdown').html(100 - req);
        if (req > 100) {
            $('.requirementslength.error-message').show();
            $('#charcountdown').hide();
        }
        if (req < 101) {
            $('.requirementslength.error-message').hide();
            $('#charcountdown').show();
        }
    }

    $('button').click(checkAnswers);

    function checkAnswers() {
        var validInput = true;
        validate.prototype.resetErrors();

        var projectName = $('#project-name').val();
        var projectPhase = $('input[name=project-phase]:checked').val();
        var nextMilestone = $('input[name=next-milestone]:checked').val();
        var nextMilestone2 = $('input[name=next-milestone-2]:checked').val();
        var testDay = $('#test-day').val();
        var testMonth = $('#test-month').val();
        var testYear = $('#test-year').val();
        var resourceDuration = $('#resource-duration').val();
        var meetingPlanned = $('input[name=meeting-planned]:checked').val();
        var meetDay = $('#meet-day').val();
        var meetMonth = $('#meet-month').val();
        var meetYear = $('#meet-year').val();
        var meetingLocation = $('#meeting-location').val();
        var requirements = $('#requirements').val();

        // First check empty fields
        if (validate('#project-name').isNotEmpty().error('.project-name').fail()) {
            validInput = false;
        }
        if (validate('input[name=project-phase]').isChecked().error('.project-phase').fail()) {
            validInput = false;
        }

        if (validate('input[name=next-milestone]').isChecked().error('.next-milestone').fail()) {
            validInput = false;
        } else {
            if ((nextMilestone !== 'User insight') && (nextMilestone)) {

            } else if (nextMilestone === 'User insight') {

                if (validate('input[name=next-milestone-2]').isChecked().error('.next-milestone-2').fail()) {
                    validInput = false;

                } else if (nextMilestone2 == 'Yes') {
                    if (validate('input[id=test-day]').isNotEmpty()
                        .validate('input[id=test-month]').isNotEmpty()
                        .validate('input[id=test-year]').isNotEmpty()
                        .error('.testing-date-empty').fail()) {
                        validInput = false;
                    } else {
                        checkDate();
                    }

                    function checkDate() {
                        if (validate('#test-day').isNotEmpty().error('.test-day').fail()) {
                            validInput = false;
                        } else {
                            $('#test-day').addClass('no-error');
                        }
                        if (validate('#test-month').isNotEmpty().error('.test-month').fail()) {
                            validInput = false;
                        } else {
                            $('#test-month').addClass('no-error');
                        }
                        if (validate('#test-year').isNotEmpty().error('.test-year').fail()) {
                            validInput = false;
                        } else {
                            $('#test-year').addClass('no-error');
                        }
                        if (validInput == false) {
                            $('.testing-date-incomplete').show();
                            $('.testing-date-empty').hide();
                            $('body').scrollTop(0);
                            $('.error-summary').focus();
                        } else {
                            $('.testing-date-empty').hide();
                        }
                    }
                }
            }
        }

        if (validate('#resource-duration').isNotEmpty().error('.resource-duration').fail()) {
            validInput = false;
        }
        if (validate('input[name=meeting-planned]').isChecked().error('.meeting-planned').fail()) {
            validInput = false;
        } else {
            if (meetingPlanned === 'Yes') {
                if (validate('#meeting-location').isNotEmpty().error('.meeting-location').fail()) {
                    validInput = false;
                }
                if (validate('#meet-day').isNotEmpty().validate('#meet-month').isNotEmpty().validate('#meet-year').isNotEmpty().error('.meeting-date-empty').fail()) {
                    validInput = false;
                } else {
                    checkDate();
                }
                function checkDate() {
                    if (validate('#meet-day').isNotEmpty().error('.meet-day').fail()) {
                        validInput = false;
                    } else {
                        $('#meet-day').addClass('no-error');
                    }
                    if (validate('#meet-month').isNotEmpty().error('.meet-month').fail()) {
                        validInput = false;
                    } else {
                        $('#meet-month').addClass('no-error');
                    }
                    if (validate('#meet-year').isNotEmpty().error('.meet-year').fail()) {
                        validInput = false;
                    } else {
                        $('#meet-year').addClass('no-error');
                    }
                    if (validInput == false) {
                        $('.meeting-date-incomplete').show();
                        $('.meeting-date-empty').hide();
                        $('body').scrollTop(0);
                        $('.error-summary').focus();
                    } else {
                        $('.meeting-date-empty').hide();
                    }
                }
            }
        }

        if (validate('#requirements').isNotEmpty().error('.requirements').fail()) {
            validInput = false;
        }

        if (validInput) {
            member.questions.projectName = projectName;
            member.questions.projectPhase = projectPhase;
            member.questions.nextMilestone = nextMilestone;
            try {
                member.questions.nextMilestone2 = nextMilestone2;
                member.questions.testDay = testDay;
                member.questions.testMonth = testMonth;
                member.questions.testYear = testYear;
            } catch (err) {}
            member.questions.meetingPlanned = meetingPlanned;
            try {
                member.questions.meetDay = meetDay;
                member.questions.meetMonth = meetMonth;
                member.questions.meetYear = meetYear;
                member.questions.meetingLocation = meetingLocation;
            } catch (err) {}
            member.questions.resourceDuration = resourceDuration;
            member.questions.requirements = requirements;

            if (changing == "true") {
                go('check-your-answers');
            } else {
                go('your-details');
            }
        } else {
            $('body').scrollTop(0);
            $('.error-summary').focus();
        }
    }

    // Populating fields when changing
    var changing = location.search.split('change=')[1];

    if (changing === 'true') {
        $('.button-back').hide();

        $('#project-name').val(member.questions.projectName);
        $('input[name=project-phase][value="' + member.questions.projectPhase + '"]').prop('checked', true);

        if (member.questions.nextMilestone == 'User insight') {
            if (member.questions.nextMilestone2 == 'Yes') {
                $('#next-milestone-2').show();
                $('input[name=next-milestone][value="' + member.questions.nextMilestone + '"]').prop('checked', true);
                $('input[name=next-milestone-2][value="' + member.questions.nextMilestone2 + '"]').prop("checked", true);
                $('#test-day').val(member.questions.testDay);
                $('#test-month').val(member.questions.testMonth);
                $('#test-year').val(member.questions.testYear);
            } else {
                $('input[name=next-milestone-2][value="' + member.questions.nextMilestone2 + '"]').prop("checked", true);
            }
        } else {
            $('input[name=next-milestone][value="' + member.questions.nextMilestone + '"]').prop('checked', true);
        }

        $('#resource-duration').val(member.questions.resourceDuration);

        if (member.questions.meetingPlanned == 'Yes') {
            $('input[name=meeting-planned][value="' + member.questions.meetingPlanned + '"]').prop('checked', true);
            $('#meet-day').val(member.questions.meetDay);
            $('#meet-month').val(member.questions.meetMonth);
            $('#meet-year').val(member.questions.meetYear);
            $('#meet-location').val(member.questions.meetingLocation);
        } else {
            $('input[name=meeting-planned][value="' + member.questions.meetingPlanned + '"]').prop('checked', true);
        }

        $('#requirements').val(member.questions.requirements);
    }
</script>

{{!-- <script type="text/javascript">







        if (validate('input[name=test-date-planned]').isChecked().error('.test-date-planned').fail()) {
            validInput = false;
        } else {
            checkTestDate();
        }
        function checkTestDate() {
            if (testDatePlanned === 'Yes') {
                if (validate('#test-day').isNotEmpty().validate('#test-month').isNotEmpty().validate('#test-year').isNotEmpty().error('.test-date-empty').fail()) {
                    validInput = false;
                } else {
                    checkFields();
                }

                // Check to see if fields are complete
                function checkFields() {
                    if (validate('#test-day').isRegEx(/^[0-3]{0,1}[0-9]{1}$/).error('.test-day').pass()) {
                        $('input[id="test-day"]').addClass('no-error');
                    } else {
                        validInput = false;
                    }
                    if (validate('#test-month').isRegEx(/^(0[1-9]|1[0-2])$/).error('.test-month').pass()) {
                        $('input[id="test-month"]').addClass('no-error');
                    } else {
                        validInput = false;
                    }
                    if (validate('#test-year').isGreaterThanOrEqual(1900).isLessThanOrEqual(2018).error('.test-year').pass()) {
                        $('input[id="test-year"]').addClass('no-error');
                    } else {
                        validInput = false;
                    }
                    if (validInput = false) {
                        validate.prototype.resetErrors();
                    } else {
                        validInput = true;
                        $('.test-date-empty').hide();
                    }
                }
            } else if (testDatePlanned === 'N') {
                validInput = true;
            }
        }
        if (validate('#meet-day').isNotEmpty().validate('#meet-month').isNotEmpty().validate('#meet-year').isNotEmpty().error('.meet-date-empty').fail()) {
            validInput = false;
        } else {
            checkFields();
        }

        function checkFields() {
            // Check to see if fields are complete
            if (validate('#meet-day').isRegEx(/^[0-3]{0,1}[0-9]{1}$/).error('.meet-day').pass()) {
                $('input[id="meet-day"]').addClass('no-error');
            } else {
                validInput = false;
            }
            if (validate('#meet-month').isGreaterThanOrEqual(1).isLessThanOrEqual(12).error('.meet-month').pass()) {
                $('input[id="meet-month"]').addClass('no-error');
            } else {
                validInput = false;
            }
            if (validate('#meet-year').isGreaterThanOrEqual(1900).isLessThanOrEqual(2018).error('.meet-year').pass()) {
                $('input[id="meet-year"]').addClass('no-error');
            } else {
                validInput = false;
            }
            if (validInput = false) {
                validate.prototype.resetErrors();
            } else {
                validInput = true;
                $('.meet-date-empty').hide();
            }
        }





    }
</script> --}}