h1 {
    margin-top: 0;
    padding-top: 0;
}

.section-label {
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    color: #6F777B;
    margin-top: 2em;
    margin-bottom: 0;
    padding-bottom: 0;
}

.border-bottom-grey {
    padding-bottom: 16px;
    margin-bottom: 24px;
    border-bottom: 1px solid #DEE0E2;
}

.form-group { margin-bottom: 20px; }
.form-group.b { margin-bottom: 20px; }

.form-control { margin-bottom: 0; }

.form-control.form-control-1-8 { width: 12% !important; }

.col-1-8 {
    width: 12.5%;
    position: relative;
    min-height: 1px;
    padding: 0 8px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.btn.btn-primary.continue { margin-top: 2em; }

.error-summary { margin-top: 2em; }

.row:not(:first-child) { margin-top: 40px !important; }

.no-error { border: 2px solid #6f777B !important; }
.col-day,
.col-month { width: 10%; }
.col-year { width: 14%; }


.boxed {
   border: 2px solid #DEE0E2;
   border-width: 1px 1px 2px 1px;
   border-radius: 3px;
   width: 100%;
   margin-bottom: 40px;
   padding: 1em;
}
.boxed-header {
   font-weight: 700;
   margin-right: 16px;
}
.boxed-content {
   float: right;
   font-weight: 700; 
}
a.boxed-content:visited { color: #097567; }

.list-data { text-align: left; }

.inset.error { border-left: 6px solid #B10F1E; }

.boxed.row.col-3 { margin-left: 0; padding-left: 0; }

.data-highlight .content { line-height: 66px; }

.multiple-choice.inset .form-group { margin-bottom: 0; }

.multiple-choice.or {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0!important;
}

.multiple-choice.mission-patches,
.multiple-choice.or,
.multiple-choice.other-request {
    border-bottom: none;
}